@page "/contactdetails/{id:int?}"

@using Services
@using shared
@inject NavigationManager _nm

@inject IContactService ContactService

@Message

<RadzenTemplateForm Data="@contact">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <RadzenFieldset Text="Contact Details">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="">First Name</label>
                            <RadzenTextBox class="form-control" @bind-Value="@contact.FirstName"></RadzenTextBox>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="">Last Name</label>
                            <RadzenTextBox class="form-control" @bind-Value="@contact.LastName"></RadzenTextBox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="">Phone</label>
                            <RadzenTextBox class="form-control" @bind-Value="@contact.Phone"></RadzenTextBox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="">Addres</label>
                            <RadzenTextArea class="form-control" @bind-Value="@contact.Address"></RadzenTextArea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                        </div>
                        <div class="col-md-4 mb-3">
                            <RadzenButton Text="Save" ButtonStyle="ButtonStyle.Primary" Click="@(args => Save())"/>
                            @if (@Id is not null && @Id != 0)
                            {
                                <RadzenButton Text="Detele" ButtonStyle="ButtonStyle.Danger" Click="@(args => Delete())" />
                            }
                            <RadzenButton Text="Cancel" ButtonStyle="ButtonStyle.Secondary" Click="@(args => Quit())"/>
                        </div>
                        <div class="col-md-4 mb-3">
                        </div>
                    </div>
                </RadzenFieldset>
            </div>
        </div>
    </div>
</RadzenTemplateForm>

@code
{
    [Parameter]
    public int? Id { get; set; }
    private Contact contact;
    private string? Message;

    protected override void OnParametersSet()
    {
    }

    protected async override Task OnInitializedAsync()
    {
        // Id = Id ?? 0;
        Message = $"id value {Id}";
        if (Id is null)
            contact = new Contact();
        else
            contact = await ContactService.GetDetails((Id ?? 0));
    }

    protected async Task Save()
    {
        await ContactService.SaveContact(contact);
        Quit();
    }

    protected async Task Delete()
    {
        await ContactService.DeleteContact((Id ?? 0));
        Quit();
    }

    private void Quit()
    {
        _nm.NavigateTo("/");
    }

}